# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_aHVtYmxlLW11dHQtNTEuY2xlcmsuYWNjb3VudHMuZGV2JA
HIGHNOTE_KEY=your-key-here


# Supabase Configuration
VITE_SUPABASE_URL=https://ahhfblqcrqyqqndtybpl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFoaGZibHFjcnF5cXFuZHR5YnBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY0Mzk5NDUsImV4cCI6MjA3MjAxNTk0NX0.I4cXt8_akCUuCczMq0zm7Vyxlq7Gv78FQKPaXyTavmw

# Optional: For admin features
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFoaGZibHFjcnF5cXFuZHR5YnBsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjQzOTk0NSwiZXhwIjoyMDcyMDE1OTQ1fQ.YSzGemp2fiMDbTYGic43efSYmfTJ4PTDjUMgTJdSg0g